COPY_PRESS_DURATION=0.05
PASTE_PRESS_DURATION=0.05
WAIT_BEFORE_COPY=0.05
CLIPBOARD_TIMEOUT=0.5
CLIPBOARD_CHECK_INTERVAL=0.05
COPY_RESTORE_DELAY=0.01
PASTE_SETTLE_DELAY=0.02
PASTE_RESTORE_DELAY=0.08
MAIN_LOOP_SLEEP=0.1
MIN_DRAG_DISTANCE=5
MAX_CLICK_DURATION=0.15
DOUBLE_CLICK_MAX_INTERVAL=0.35
DEBUG=1

